@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Yatırımcı Günlüğü</h1>
    <p>Onurcan Şimşek <a href="yatirimcigunlugu.com">yatirimcigunlugu.com</a></p>
</div>
